[Unit]
Description=Portal service (Hyprland implementation)

[Service]
ExecStart=/usr/lib/xdg-desktop-portal-hyprland
Restart=always

[Install]
WantedBy=graphical-session.target
