[user]
	name = Max Netyaga
	email = max.netyaga@gmail.com
[init]
	defaultBranch = main
[core]
	quotePath = false
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
