{
  "layer": "top",
  "position": "top",
  "modules-left": ["tray", "hyprland/window"],
  "modules-center": ["hyprland/workspaces"],
{{- if eq .chezmoi.hostname "mandos" }}
  "modules-right": ["custom/lyrics", "battery", "backlight", "custom/brightness", "pulseaudio", "clock"],
{{- else }}
  "modules-right": ["custom/lyrics", "custom/brightness", "pulseaudio", "clock"],
{{- end }}

  "tray": {
    "spacing": 10,
    // "icon-size": 8,
  },

  "hyprland/window": {
    "format": "{}",
  },

  "hyprland/workspaces": {
    "all-outputs": true,
    "format": "{icon}",
    "format-icons": {
      "anki": "󰠮",
      "spotify": "󰓇",
      "telegram": "",
      "gimp": "",
      "rocketchat": "󰭹",
      "whatsup": "",
      "obs": "󰐾",
      "teams": "󰊻",
      "thunderbird": ""
    },
    "persistent-workspaces": {
{{- if eq .chezmoi.hostname "mandos" }}
      "eDP-1": ["spotify"],
      "HDMI-A-1": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "anki", "telegram", "gimp", "rocketchat", "whatsup", "obs", "teams", "thunderbird"],
{{- else }}
      "*": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, "spotify", "anki", "telegram", "gimp", "rocketchat", "whatsup", "obs", "teams", "thunderbird"],
{{- end }}
    },
  },

  // ####################################################################### //

  "custom/brightness": {
    "format": "{text}% ",
    "signal": 8,
    "exec": "brightness-control get",
    "on-scroll-up": "brightness-control up",
    "on-scroll-down": "brightness-control down",
    "on-click": "brightness-control left_click",
    "on-click-right": "brightness-control right_click",
  },

  "custom/lyrics": {
    "return-type": "json",
    "format": "{icon} {0}",
    "hide-empty-text": true,
    "format-icons": {
      "playing": "",
      "paused": "",
      "lyric": "",
      "music": "󰝚",
      "no_lyric": "",
      "getting": ""
    },
    "exec-if": "which waybar-lyric",
    "exec": "waybar-lyric --quiet --experimental-chromium-support",
    "on-click": "waybar-lyric play-pause"
  },

{{- if eq .chezmoi.hostname "mandos" }}

  "battery": {
    "bat": "BAT0",
    "adapter": "AC",
    "interval": 10,
    "format": "{capacity}% {icon}",
    "format-charging": "{capacity}% 󰂄",
    "format-plugged": "{capacity}% 󰂄",
    "format-full": "{capacity}% 󰁹",
    "format-icons": ["󰂎", "󰁺", "󰁻", "󰁼", "󰁽", "󰁾", "󰁿", "󰂀", "󰂁", "󰂂", "󰁹"],
    "states": {
      "warning": 30,
      "critical": 15
    }
  },

  "backlight": {
    "device": "intel_backlight",
    "format": "{percent}% {icon}",
    "format-icons": ["󰃞", "󰃟", "󰃠"],
    "scroll-step": 1,
    "min-brightness": 1.0
  },
{{- end }}

  "pulseaudio": {
    "format": "{volume}% {icon}",
    "format-bluetooth": "{volume}% {icon}",
    "format-muted": "",
    "format-icons": {
      "alsa_output.pci-0000_00_1f.3.analog-stereo": "󱡬",
      "alsa_output.pci-0000_00_1f.3.analog-stereo-muted": "󱡬",
      "headphone": "",
      "hands-free": "",
      "headset": "",
      "phone": "",
      "phone-muted": "",
      "portable": "",
      "car": "",
      "default": ["", ""],
    },
    "format-source": "Mic ON",
    "format-source-muted": "Mic OFF",
    "scroll-step": 1,
    // "on-click": "killall pavucontrol || pavucontrol",
    "ignored-sinks": ["Easy Effects Sink"],
  },

  "clock": {
    "format": "{:%Y-%m-%d [%B, W-%V, %A] %H:%M}",
    "interval": 5,
    "tooltip": false,
    "tooltip-format": "<tt><small>{calendar}</small></tt>",
    "calendar": {
      "mode": "year",
      "mode-mon-col": 3,
      "weeks-pos": "right",
      "on-scroll": 1,
      "format": {
        "months": "<span color='#ffead3'><b>{}</b></span>",
        "days": "<span color='#ecc6d9'><b>{}</b></span>",
        "weeks": "<span color='#99ffdd'><b>W{}</b></span>",
        "weekdays": "<span color='#ffcc66'><b>{}</b></span>",
        "today": "<span color='#ff6699'><b><u>{}</u></b></span>",
      },
    },
  },
}

// ######################################################################### //

// "custom/notification": {
//   "tooltip": false,
//   "format": "{icon}",
//   "format-icons": {
//     "notification": "<span foreground='red'><sup></sup></span>",
//     "none": "",
//     "dnd-notification": "<span foreground='red'><sup></sup></span>",
//     "dnd-none": "",
//     "inhibited-notification": "<span foreground='red'><sup></sup></span>",
//     "inhibited-none": "",
//     "dnd-inhibited-notification": "<span foreground='red'><sup></sup></span>",
//     "dnd-inhibited-none": "",
//   },
//   "return-type": "json",
//   "exec-if": "which swaync-client",
//   "exec": "swaync-client -swb",
//   "on-click": "swaync-client -t -sw",
//   "on-click-right": "swaync-client -d -sw",
//   "escape": true,
// },
