/* :root {
    --white: #f0ead2
    --blue: #004700
    --green: #adc178
} */

* {
    border: none;
    border-radius: 0;
    font-family: "ComicShannsMono Nerd Font Propo, Comic Sans MS";
    font-size: 14px;
    min-height: 0;
    padding: 1px 1px;
}

window#waybar {
    background: rgba(40, 40, 40, 1);
    color: #f0ead2;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #f0ead2;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    /* background: #f0ead2; */
    border-bottom: 3px solid #adc178;
}

#clock,
#language,
#tray,
#custom-ddcutil,
#pulseaudio,
#mpris {
    padding: 8px 6px;
    padding-right: 11px;
    margin: 0 3px;
    border-right: 2px solid #adc178;
    min-width: 0;
}

/* #clock {
    border-right: none;
} */

#language {
    min-width: 65px;
    /* padding-right: 12px; */
}

/* @keyframes blink {
    to {
        background-color: @white_b;
        color: @background;
    }
} */
